.Header {
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1.5rem 0;
  width: 95vw;
  min-width: 300px;
  color: var(--color-font-primary);
}

.Header__topImage {
  height: 65px;

  background: linear-gradient(
    300.63deg,
    var(--color-primary-gradient-start) 45.56%,
    var(--color-primary-gradient-end) 85.31%
  );
  border: 2px solid var(--color-border-primary);
  border-radius: 30px;
}

.Header__title,
.Header__subTitle {
  line-height: 1;
}

.Header__navBar {
  align-self: flex-end;
  margin-right: 2rem;
}

.Header__navBar > * {
  margin: 0 5px;
}
