.Header {
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1.5rem 0;
  width: 95vw;
  min-width: 300px;
  color: white;
}

.Header__topImage {
  height: 65px;

  background: linear-gradient(300.63deg, #412027 45.56%, #562736 85.31%);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}

.Header__title,
.Header__subTitle {
  line-height: 1;
}

.Header__NavBar {
  display: none;
  align-self: flex-end;
  margin-right: 2rem;
}

.Header__NavBar > * {
  margin: 0 5px;
}

.Header__NavBar--active {
  display: unset;
}
