.NumbInputField {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  margin-top: 1.5rem;
  padding: 0.5em 1.5em;

  width: 95vw;
  max-width: 360px;
  min-width: 300px;
  height: 100px;

  background: linear-gradient(
    300.63deg,
    var(--color-primary-gradient-start) 45.56%,
    var(--color-primary-gradient-end) 85.31%
  );
  border: 2px solid var(--color-border-primary);
  box-sizing: border-box;
  border-radius: 30px;
}

.NumbInputField__btn {
  font-size: 2em;
  color: var(--color-font-primary);
  border: none;
  border-radius: 10px;
  background: none;
  transition-duration: 0.2s;
}

.NumbInputField__btn:hover {
  background: var(--color-input-hover);
}
