.SudokuGrid {
  border: 10px solid var(--color-border-grid);
  border-radius: 10px;
}

.Row {
  display: flex;
  width: 90vw;
  max-width: 360px;
  min-width: 300px;
}

.Cell {
  background: var(--color-bg-cell);
  color: var(--color-font-cell);
  border: 1px solid var(--color-border-primary-cell);
  aspect-ratio: 1;
  width: 40px;
  font-size: 1.8em;
}

.Cell--locked {
  background: var(--color-bg-cell-locked);
}
.Cell--active {
  background: var(--color-bg-cell-active);
}

.CellRow0 {
  border-top: none;
}

.CellRow2 {
  border-bottom: 2px solid var(--color-border-secondary-cell);
}
.CellRow3 {
  border-top: 2px solid var(--color-border-secondary-cell);
}

.CellRow5 {
  border-bottom: 2px solid var(--color-border-secondary-cell);
}
.CellRow6 {
  border-top: 2px solid var(--color-border-secondary-cell);
}

.CellRow8 {
  border-bottom: none;
}

.CellColumn0 {
  border-left: none;
}
.CellColumn2 {
  border-right: 2px solid var(--color-border-secondary-cell);
}
.CellColumn3 {
  border-left: 2px solid var(--color-border-secondary-cell);
}
.CellColumn5 {
  border-right: 2px solid var(--color-border-secondary-cell);
}
.CellColumn6 {
  border-left: 2px solid var(--color-border-secondary-cell);
}
.CellColumn8 {
  border-right: none;
}
