.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 300px) {
  .App {
    float: left;
  }
}
